*{
    margin: 0;
    padding: 0;
}
body{
    background-color: #1A1C28;
    display: flex;
    place-items: center;
    min-height: 100vh;
}
main{
    display: grid;
    grid-template-areas: 
    "a a a b b"
    "c c d d d"
    "c c e e e"
    ;
    gap: 10px;
    width: 30%;
    margin: auto;
    color: transparent;
}
main div{
    padding: 2em;
    text-align: center;
}
.item-a{
    background-color: #E74F2B;
    grid-area: a;
}
.item-b{
    background-color: #EFA31D;
    grid-area: b;
}
.item-c{
    background-color: #51AB43;
    grid-area: c;
}
.item-d{
    background-color: #59AFFE;
    grid-area: d;
}
.item-e{
    background-color: #59AFFE;
    grid-area: e;
}
/* flexbox button*/
.flex-btn{
    padding: 30px;
    background-color: #1A1C28;
    color: white;
    border-radius: 50%;
    border: thin solid;
    transition: .5s;
}
.flex-btn:hover{
    color: white;
    background-color: #080808;
    border-color:white ;
}